
<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <div id="main">
      <button class="openbtn" onclick="openNav()"><i class='bx bx-menu'>Dashboard</i> </button> 
    </div>
  </div>
</nav>
  

    
