<div class="card card1"> 
  <h6> Looks Like Your Profile is Incomplete</h6>
    <div class="arro">
      <a href="" class="btn btn-color">Complete your Profile</a>
    </div>
</div>

<div class="table table1">
 <h6 class="marginbt">Your Organization <i class='bx bxs-message-square-add ' ></i><span class="td">Add school</span></h6>
 
  <table class="table background">
    <thead class="color">
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td">CITY</td>
      </tr>
    </tbody>
  </table>
</div>
 <div class="table table1">
  <h6 class="marginbt">Your Programs</h6>
  <table class="table background">
    <thead class="color">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Dates</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="td">CITY</td>
        <td>7UTP326K</td>
        <td>Live Case</td>
        <td>21-03-2023-02-24-2028</td>
        <td class="td">Manage</td>
      </tr>
    </tbody>
  </table>
</div>