<div class="sidebar" id="mysidebar">
 <a href="" class="closebtn" onclick="closeNav()">×</a>
  <h2>connect</h2>
      <ul class="nav">
        <li>
         <i class='bx bxs-dashboard'></i>
         <span>Dashboard</span>
        </li>
        <li>
         <i class='bx bxs-briefcase'></i>
         <span>LiveCase</span>
        </li>
        <li>
         <i class='bx bx-task'></i>
         <span>OpenCase</span>
        </li>
        <li>
         <i class='bx bx-male-female'></i>
         <span>Mentorship</span>
        </li>
        <li>
         <i class='bx bxs-briefcase'></i>
         <span>Internship</span>
        </li>
        <li>
         <i class='bx bxs-trophy' ></i>
         <span>Case Compositions</span>
        </li>
        
        <div class="line">
         <hr>
        </div>

        <li>
         <i class='bx bxs-network-chart' ></i>
         <span>Network</span>
        </li>
        <li>
         <i class='bx bx-help-circle' ></i>
         <span>Help Center</span>
        </li>
      </ul>  
</div>


<nav class="navbar navbar-light ">
  <div class="container-fluid">
    <div id="main">
      <button class="openbtn" onclick="openNav()"><i class='bx bx-menu'></i> </button> 
    </div>
  </div>
</nav>