
  <%= render partial: "devise/shared/sidebar"%>
  <%= render partial: "devise/shared/navbar"%>
<div class="first">
  <h1>CIIT</h1>
    <div class="headings">  
        <h5>Location</h5>
        <p>Rawal chowk park road Islamabad</p>
        <h5>Founded</h5>
        <p>1990</p>
        <h5>Website</h5>
        <h5>Indusrtry</h5>
    </div>
  <div class="container container1">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row row1">
      <div class="col-md-7">
        <div class="card card2" >
          <h4>Overview</h4>
          <p>asd afds adsfa asdf ad df dfa dfa dfa</p>
        </div>
      </div>
      <div class="col-3">
      <div class="card card3">
        <h4>CIIT's Team(6)</h4>
        <li>
        <i class='bx bx-layer-minus bx2'></i>
        <span>Falls alavi</span>
        </li>
        <hr>
        <li>
        <i class='bx bx-layer-minus  bx1'></i>
        <span >Kamal asif</span>
        </li>
      </div>
      </div>
    </div>


  
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row row2">
      <div class="col-md-7">
        <div class="card card4" >
        <h4>Available Opportunities</h4>
          <table class="table table3 table-bordered border-burlywood ">
            <tr>
              <th style="width: 25%;"> Name</th>
              <th style="width: 20%;">Deadline</th>
              <th style="width: 65%; " colspan="2">Area of Development</th>
            </tr>
            <tr>
              <td> BS(cs)</td>
              <td>2023-03-16</td>
              <td>Acount Management</td>
              <td>Corporate Social Responsibility</td>
            </tr>
            <tr>
              <td> BS(Civil)</td>
              <td></td>
              <td>Data Darbar</td>
            </tr>
              <td>BS(Atomotive)</td>
              <td>2023-03-28</td>
              <td>23</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-3">
      <div class="card card5">
        <h4>CIIT's Collaborators(4)</h4>
        <li>
        <i class='bx bx-layer-minus bx4'></i>
        <span>Falls alavi</span>
        </li>
        <hr>
        <li>
        <i class='bx bx-layer-minus  bx3'></i>
        <span >Kamal asif</span>
        </li>
      </div>
      </div>
      </div>
    
  
  
  
    <div class="row row3">
      <div class="col-md-7">
        <div class="card card6" >
          <h4>Past Programs</h4>
          <p>No past program available at the moment</p>
        </div>
      </div>
      <div class="col-3">
      <div class="card card7">
        <h4>Simillar Universities</h4>
        <li>
          <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="20" height="20">
          <span class="td">Clit</span>
          <p class="avail">6 Available assesments</p>
        </li>
         <hr>  
        <li>
          <i class='bx bx-layer-minus bx2'></i>
          <span>Falls alavi</span>
          <p class="avail1">0 Available assesments</p>
        </li>
        <hr><li>
          <i class='bx bx-layer-minus bx2'></i>
          <span>Falls alavi</span>
          <p class="avail1">0 Available assesments</p>
        </li>
        <hr>
        <li>
          <i class='bx bx-layer-minus bx2'></i>
          <span>Falls alavi</span>
          <p class="avail1">0 Available assesments</p>
        </li> 
      </div>
      </div>
    </div>
  </div>
</div>    