<%= render partial: "devise/shared/sidebar"%>
<%= render partial: "devise/shared/navbar"%>
<div class="first">
  <div class="container container1">
    <div class="margin1">
      <h1>Franklin & Marshall College</h1>
        <li>
          <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="20" height="20">
          <span><p>Location</p><p>Founded</p><p>Website</p><p>Indusrtry</p></span>   
        </li>
    </div>

     <div class="row row1">
      <div class="col-md-7">
        <div class="card card2" >
          <h4 class="marginbt">Overview</h4>
        </div>
      </div>
      <div class="col-3">
      <div class="card card3">
        <h5> Franklin & Marshall College's Team(0)</h5>
        <li class="marginbt">
          <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="20" height="20">
          <span class="td">Alexander Boykas</span>
        </li>
      </div>
      </div>
    </div>


    <div class="row row1 margin">
      <div class="col-md-7">
        <div class="card card2" >
          <h4>Available Opportunities</h4>
          <p class="margin">No available opportunities at this moment</p>
        </div>
      </div>
      <div class="col-3">
        <div class="card card3">
          <h5> Franklin & Marshall College's Collaborators(0)</h5>  
        </div>
      </div>
    </div>
      
    <div class="row row3">
      <div class="col-md-7">
        <div class="card card6" >
          <h4>Past Programs</h4>
          <p>No past program available at the moment</p>
        </div>
      </div>
      <div class="col-3">
      <div class="card card7">
        <h5 class="margin">Simillar Universities</h5>
        <li>
          <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="20" height="20">
          <span class="td">Clit</span>
          <p class="avail">6 Available assesments</p>
        </li>
         <hr>  
        <li>
          <i class='bx bx-layer-minus bx2'></i>
          <span>Falls alavi</span>
          <p class="avail1">0 Available assesments</p>
        </li>
        <hr><li>
          <i class='bx bx-layer-minus bx2'></i>
          <span>Falls alavi</span>
          <p class="avail1">0 Available assesments</p>
        </li>
        <hr>
        <li>
          <i class='bx bx-layer-minus bx2'></i>
          <span>Falls alavi</span>
          <p class="avail1">0 Available assesments</p>
        </li> 
      </div>
      </div>
    </div>
  </div>
</div>